<div class="jumbotron" style="background-color: ">
  <h1>Airbnb Shoebox</h1>
  <p>Your virtual shoebox for alle income and expenditures of your airbnb business. Track if your listing actually earns you money.</p>
  <%= image_tag 'airbnb shoebox.png'%>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>