<div class="jumbotron" style="background-color: ">
  <h1>Airbnb Shoebox</h1>
  <p>Is your listing making money?</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>